<%= form_for(twit) do |f| %>
  <% if twit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(twit.errors.count, "error") %> prohibited this twit from being saved:</h2>

      <ul>
      <% twit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="field">
    <%= f.label :user %>
    <%= collection_select(:twit, :user_id, User.all, :id, :nickname, {}, {:multiple => false})%>
  </div>

<!--  <div class="field">
    <%= f.label :tag_text %>
    <%= collection_select(:twit, :id, Tag.all, :twit_id, :tag_text, {}, {:multiple => false})%>
  </div>
 --> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
